<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script src="/js/storeDataSendAjax.js"></script>
<h3>1. 데이터 전송</h3>
<div class="col-sm-12">
    <div class="row">
        <div class="col-sm-4">
            <input id="input" placeholder="데이터를 입력해주세요..">
        </div>
    </div>
</div>
<input value="등록" type="button" onclick="dataPend()">
<div id="resultDive">
    <p th:if="${msg}!=null" th:text="${msg}"></p>
</div>
</form>
<br>
<script>
    function dataPend() {

        var data = $("#input").val();

        var messageDTO = {
            result: data
        };

        $.ajax({
            url: "/dataPend",
            data: messageDTO,
            type: "POST",
        }).done(function (fragment) {
            $("#resultDive").replaceWith(fragment);
        });
    }
</script>
</body>
</html>
